.header__lang-link {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    text-align: right;
    color: #FFFFFF;
    text-decoration-line: none;
    margin-right: 18px;
    width: 30px;
    height: 28px;
    font-size: 24px;
    line-height: 1.17;
}

.header__lang-link:last-of-type{
    margin-right: 0;
}

.header__lang-link:focus {
    text-decoration-line: underline;
}

@media screen and (max-width: 767px){
    .header__lang-link {
        width: 22px;
        height: 20px;
        font-size: 18px;
        line-height: 1.11;
    }
}
