.header__lang-link {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 28px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 0.86;
    text-align: right;
    color: #FFFFFF;
    text-decoration-line: none;
    margin-right: 18px;
}

.header__lang-link:last-of-type{
    margin-right: 0;
}

.header__lang-link:focus {
    text-decoration-line: underline;
}