.place__title{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 900;
  color: #FFFFFF;
  line-height: 1.1;
  font-size: 72px;
}

@media screen and (max-width: 1023px) {
  .place__title{
    font-size: 42px;
  }
}

@media screen and (max-width: 767px) {
  .place__title{
    font-size: 32px;
    margin: 0 16px;
  }
}
