.photo-grid {
    margin: 92px 48px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 16px;
    max-width: 1280px;
}

@media screen and (max-width: 1279px) {
    .photo-grid{
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
    }
}

@media screen and (max-width: 1023px) {
    .photo-grid{
        grid-template-columns: repeat(2, 1fr);
        margin: 88px 24px;
        gap: 16px;
    }
}

@media screen and (max-width: 767px) {
    .photo-grid{
        grid-template-columns: repeat(1, 1fr);
        margin: 64px 16px;
        gap: 12px;
    }
}