.places{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 148px;
}

@media screen and (max-width: 1279px) {
  .places{
    margin: 0 48px;
  }
}

@media screen and (max-width: 1023px) {
  .places{
    margin: 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .places{
    margin: 0;
  }
}