.places{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 320px) {
  .places {
    margin: 0 auto;
    max-width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .places {
    margin: 0 auto;
    max-width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .places {
    margin: 0 auto;
    max-width: 928px;
  }
}

@media screen and (min-width: 1280px) {
  .places {
    max-width: 984px;
  }
}