.intro__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@media screen and (min-width: 320px) {
    .intro__list {
        max-width: 288px;
    }
}

@media screen and (min-width: 780px) {
    .intro__list {
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__list {
        max-width: 690px;
    }
}