.cover__subtitle {
    margin: 0;
    padding: 0;
    width: 360px;
    height: 66px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.22;
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    grid-column: 2/4;
    grid-row: 3/3;
    align-self: start;
    justify-self: center;
    z-index: 2;
}