.place__website__url-heading{
  margin: 0;
  padding: 0;
  height: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 2px;
  color: #FFFFFF;
}


@media screen and (max-width: 1023px) {
  .place__website__url-heading{
    line-height: 1;
  }
}
