.header__logo {
    display: block;    
    background-image: url(../../../images/header-logo.svg);
    background-size: cover;
}

@media screen and (min-width: 320px){
    .header__logo {
        width: 142px;
        height: 42px;
        border: red 
    }
}

@media screen and (min-width: 768px){
    .header__logo {
        width: 176px;
        height: 52px;
    }
}