.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;    
    justify-content: space-between;
}

@media screen and (min-width: 320px){
    .header {
        width: 288px;
        padding-top: 16px;
        height: 42px;
    }
}


@media screen and (min-width: 768px){
    .header {
        width: 720px;
        padding-top: 28px;
        height: 52px;
    }
}

@media screen and (min-width: 1024px){
    .header {
        width: 928px;
  }
}

@media screen and (min-width: 1280px) {
    .header {
        width: 1184px;
  }
}