.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 48px;
    padding-top: 28px;
}

@media screen and (max-width: 1023px){
    .header {
        margin: 0 24px;
        padding-top: 28px;
    }
}


@media screen and (max-width: 767px){
    .header {
        margin: 0 16px;
        padding-top: 16px;
    }
}