.header {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-top: 28px;
    height: 52px;
    justify-content: space-between;
}

@media screen and (min-width: 768px){
    .header {
        width: 720px;
    }
}

@media screen and (min-width: 1024px){
    .header {
        width: 928px;
  }
}

@media screen and (min-width: 1280px) {
    .header {
        width: 1184px;
  }
}