.footer__link {
    /*margin: 0;
    padding: 0;*/
    display: block;
    font-style: normal;
    font-weight: normal;    
    color: #FFFFFF;
    text-decoration-line: none;
}

@media screen and (min-width: 320px) {
    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin-bottom: 32px;
    }
    .footer__link:last-of-type {
        margin-bottom: 0;
    }
  }
  
  @media screen and (min-width: 768px) {
    .footer__link  {
        margin: 0;
        padding: 0;
        margin-right: 18px;
        font-size: 16px;
        line-height: 1.12;
    }
    .footer__links:last-child {
        margin-right: 0;
    }
  }
