.footer__link {
    display: block;
    font-style: normal;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
    line-height: 18px;
    opacity: 1;
    transition: opacity 0.6s linear;
}

.footer__link:hover{
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
  }
