.footer__link {
    margin: 0;
    padding: 0;
    margin-right: 18px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    text-decoration-line: none;

}
