.lead__title{
    margin: 0 132px;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
    font-size: 96px;
    line-height: 1.04;
}

@media screen and (max-width: 1279px){
    .lead__title {
        margin: 0 104px;
    }
}

@media screen and (max-width: 1023px){
    .lead__title {
        margin: 0 24px;
    }
}

@media screen and (max-width: 767px){
    .lead__title {
        margin: 0 14px 0 18px;
        font-size: 40px;
        line-height: 1.1;
    }
}