.lead__title{
    margin: 0;
    padding: 0;    
    font-style: normal;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 320px){
    .lead__title {
        width: 288px;
        font-size: 40px;
        line-height: 1.1;
    }
}

@media screen and (min-width: 768px){
    .lead__title {
        width: 720px;
        font-size: 96px;
        line-height: 1.04;
    }
}