.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

@media screen and (min-width: 320px) {
    .footer__links {
      flex-direction: column;
      justify-content: flex-start;
      margin-bottom: 48px;
    }
  }
  
  
  @media screen and (min-width: 768px) {
    .footer__links  {
      flex-direction: row;
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }