.footer__links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style: none;
}

.footer__links:last-child {
    margin-right: 0;
}