.place__paragraph{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  line-height: 1.63;
  color: #FFFFFF;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (min-width: 1024px) {
  .place__paragraph {
    font-size: 18px;
  }
}