.place__paragraph{
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: normal;
  line-height: 1.63;
  color: #FFFFFF;
  margin-bottom: 26px;
  font-size: 18px;
}

.place__paragraph:last-of-type{
  margin-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}