.footer__copyright {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.14;
    text-align: right;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) {
    .footer__copyright {
        text-align: left;
    }
  }