.lead__image {    
    width: 100%;
    height: calc(width/1.6);
}

@media screen and (min-width: 320px) {
    .lead__image{
        width: 320x;
        margin-top: 40px;
    }
}

@media screen and (min-width: 768px) {
    .lead__image{
        width: 768px;
        margin-top: 56px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__image{
        width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .lead__image{
        width: 984px;
        margin-top: 64px;
    }
}