.intro__text {
    padding: 0;    
    margin: 40px 0 33px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 163%;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) {
    .intro__text{
        max-width: 288px;
    }
}

@media screen and (min-width: 780px) {
    .intro__text{
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__text{
        max-width: 690px;
    }
}

/*@media screen and (min-width: 1280px) {
    .intro__text{
        max-width: 690px;
    }
}*/