.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 92px 442px 92px 148px;
    max-width: 690px;
}

@media screen and (max-width: 1279px) {
    .intro{
        margin: 92px 286px 92px 48px;
    }
}

@media screen and (max-width: 1023px) {
    .intro{
        margin: 88px 24px;
        max-width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .intro{
        margin: 64px 16px;
    }
}