.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (min-width: 320px) {
    .intro{
        margin: 64px auto;
        max-width: 288px;
    }
}

@media screen and (min-width: 768px) {
    .intro{
        margin: 88px auto;
        max-width: 720px;
    }
}

@media screen and (min-width: 1024px) {
    .intro{
        margin: 92px auto;
        max-width: 928px;
    }
}

@media screen and (min-width: 1280px) {
    .intro{
        max-width: 984px;
    }
}