.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

@media screen and (min-width: 768px) {
    .intro{
        margin: 88px auto;
        max-width: 720px;
        border: blue solid 2px;
    }
}

@media screen and (min-width: 1024px) {
    .intro{
        max-width: 928px;
        border: green solid 2px;
    }
}

@media screen and (min-width: 1280px) {
    .intro{
        max-width: 984px;
        border: red solid 2px;
    }
}