.lead__subtitle{
    margin: 32px 172px 64px;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (max-width: 1279px){
    .lead__subtitle {
        margin: 32px 144px 56px;
    }
}

@media screen and (max-width: 1023px){
    .lead__subtitle {
        margin: 32px 64px 56px;
    }
}

@media screen and (max-width: 767px){
    .lead__subtitle {
        margin: 16px 16px 40px;
        font-size: 16px;
        line-height: 1.25;
    }
}