.lead__subtitle{
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    color: #FFFFFF;
}

@media screen and (min-width: 320px){
    .lead__subtitle {
        width: 288px;
        font-size: 16px;
        line-height: 1.25;
        margin-top: 16px;
    }
}

@media screen and (min-width: 768px){
    .lead__subtitle {
        width: 640px;
        font-size: 30px;
        line-height: 1.2;
        margin-top: 32px;
    }
}