.lead__subtitle{
    margin: 0;
    padding: 0;
    width: 640px;
    height: 72px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    color: #FFFFFF;
    margin-top: 32px;
}