.cover {
  max-width: 1184px;
  min-height: 740px;
  background-image: url(../../images/cover-trains.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 92px 48px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.cover::after{
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #2A2C2F;
  opacity: 0.3;
  z-index: -1;
}

.cover:hover:after{
  opacity: 0.7;
}

@media screen and (max-width: 1279px) {
  .cover{
    margin: 92px 0;
    min-height: 640px;
  }
}

@media screen and (max-width: 1023px) {
  .cover{
    margin: 90px 0 88px;
    min-height: 480px;
  }
}

@media screen and (max-width: 767px) {
  .cover{
    margin: 66px 0 64px;
    min-height: 200px;
  }
}