.cover {
    height: calc(max-width/1.6);
    margin: 92px auto;
    background-image: url(../../images/cover-trains.jpg);
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

@media screen and (min-width: 1024px) {
    .cover {
      max-width: 1024px;
    }
  }
  
  @media screen and (min-width: 1280px) {
    .cover {
      max-width: 1184px;
    }
  }