.cover__overlay {
    background: #2A2C2F;
    opacity: 0.3;
    grid-column: 1/5;
    grid-row: 1/5;
    z-index: -1;
    transition: opacity 0.6s linear;
}

.cover__overlay:hover {
    background: #2A2C2F;
    opacity: 0.7;
    grid-column: 1/5;
    grid-row: 1/5;
}