.lead__caption{
    margin: 0;
    padding: 0;
    margin-top: 8px;
    /*width: 160px;
    height: 14px;*/
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #FFFFFF;
    align-self: flex-start;
}

@media screen and (min-width: 768px) {
    .lead__caption{
        padding-left: 24px;
    }
}

@media screen and (min-width: 1024px) {
    .lead__caption{
        padding-left: 0;
    }
}