.cover__title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 900;
    text-align: center;
    color: #FFFFFF;
    font-size: 72px;
    line-height: 1.09;
    max-width: 560px;
    margin-bottom: 32px;
}

.cover__title:hover {
    cursor: pointer;
}

@media screen and (max-width: 767px) {
    .cover__title{
        font-size: 32px;
        max-width: 288px;
        margin-bottom: 16px;
    }
}