.cover__title {
    margin: 0;
    padding: 0;    
    font-style: normal;
    font-weight: 900;    
    text-align: center;
    color: #FFFFFF;
    opacity: 1;
    grid-column: 2/4;
    grid-row: 2/2;
    align-self: end;
    justify-self: center;
    z-index: 2;
}

@media screen and (min-width: 320px) {
    .cover__title {
        margin-bottom: 16px;
        width: 288px;
        font-size: 32px;
        line-height: 1.09;
    }
  }
  
  @media screen and (min-width: 768px) {
    .cover__title {
        margin-bottom: 32px;
        width: 560px;
        font-size: 72px;
        line-height: 1.06;
    }
  }