.place{
  width: 100%;
  display: grid;
  grid-template-rows: minmax(min-content, max-content) minmax(min-content, max-content);
  row-gap: 48px;  
  border: blue solid 2px;
}

.place:last-of-type{  
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .place {
    max-width: 720px;
    grid-template-columns: 340px minmax(min-content, max-content);
    column-gap: 28px;
    margin-bottom: 73px;
  }
}

@media screen and (min-width: 1024px) {
  .place {
    max-width: 928px;
    grid-template-columns: 440px minmax(min-content, max-content);
    column-gap: 32px;
    margin-bottom: 80px;
  }
}

@media screen and (min-width: 1280px) {
  .place {
    max-width: 984px;
    grid-template-columns: 460px minmax(min-content, max-content);
    column-gap: 40px;
  }
}
