.footer {
  margin: 0 auto;
  display: flex;
  padding-bottom: 24px;
}

@media screen and (min-width: 320px) {
  .footer {
    width: 320px;
    flex-direction: column;
  }
}


@media screen and (min-width: 768px) {
  .footer {
    width: 720px;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 928px;
  }
}
  
@media screen and (min-width: 1280px) {
  .footer {
    width: 1184px;
  }
}