.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 48px 24px;
  max-width: 1184px;
}

@media screen and (max-width: 1023px) {
  .footer {
    padding: 0 24px 24px;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding: 0 16px 24px;
  }
}