.footer {
  margin: 0 auto;
  padding-bottom: 24px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .footer {
    width: 720px;
  }
}

@media screen and (min-width: 1024px) {
  .footer {
    width: 928px;
  }
}
  
@media screen and (min-width: 1280px) {
  .footer {
    width: 1184px;
  }
}