.photo-grid__image {
    width: 100%;
    height: auto;
}

/* @media screen and (min-width: 320px) {
    .photo-grid__image{
        width: 288px;
    }
}

@media screen and (min-width: 768px) {
    .photo-grid__image{
        width: 352px;
    }
}

@media screen and (min-width: 1024px) {
    .photo-grid__image{
        width: 300px;
    }
}

@media screen and (min-width: 1280px) {
    .photo-grid__image{
        width: 284px;
        width: calc(100%/4 - 16px*3/4);
    }
} */