.place__website{
  /*height: 46px;*/
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-right: 28px;
}

@media screen and (max-width: 1279px) {
  .place__website{
    margin-right: 0;
  }
}

@media screen and (max-width: 767px) {
  .place__website{
    margin: 0 16px;
  }
}