.intro__title {
    margin: 0;
    padding: 0;    
    font-style: normal;
    font-weight: 900;    
    line-height: 1.09;
    color: #FFFFFF;
}

@media screen and (min-width: 320px) {
    .intro__title{
        width: 288px;
        font-size: 32px;
    }
}

@media screen and (min-width: 768px) {
    .intro__title{
        width: 720px;
        font-size: 54px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__title{
        width: 690px;
    }
}